
    /* body */
    body {
      font-family: helvetica;
      font-size: 16px;
      font-weight: 350;
      line-height: 1.5;
    }
  
    /* app css */
    .app {
      margin: 0 auto;
      padding: 50px;
      background-color: white;
    }
  
    /* form css */
    .form {
      margin: 0 0 15px 0;
    }
  
    /* form label css */
    .form label {
      display: block;
      margin: 10px 0;
    }
  
    /* form input css */
    .form input,
    .form textarea {
      display: inline-block;
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 380;
      line-height: 1.5;
      color: grey;
    }
  
    /* submit button css */
    .form input[type='submit'] {
      display: inline-block;
      width: 100%;
      padding: 10px;
      border-radius: 3px;
      background-color: #8f9390;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: white;
      cursor: pointer;
      margin-top: 20px;
    }
  
    /* playlist information css*/
    .playlist-container {
      display: inline-block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 16px auto;
    }
  
    /* items inside playlist */
    .playlist-item {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      width: 100%;
      border: 5px solid #d2d8d8;
      padding: 10px;
      margin: 10px auto;
      border-radius:5px;
    }
  
    /* album image css*/
    .playlist-image {
      width: 80px;
      height: 80px;
      border-radius: 10%;
      margin-right: 10px;
    }
  
    /*song, album and description css*/
    .playlist-content {
      display: inline-block;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      flex-shrink: 1;
      max-width: 75%;
    }
    
    /*song title css*/
    .playlist-title {
      font-size: 18px;
      font-weight: 400;
      line-height: 2;
      color: black;
    }
  
    /* song description css*/
    .playlist-description {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.5;
      color: #8f9390;
    }
  
    /* button css position*/
    .playlist-actions {
      display: inline-block;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;
    }
  
    /* button css*/
    .playlist-action {
      text-align: left;
      border-radius: 6px;
      padding: 10px 20px;
      background-color: #51c938;
      color: white;
      cursor: pointer;
      margin-left: 10px;
      border: 1px solid;
      transition-duration:0.5s;
    }
  
    /*button hover css*/
    .playlist-action:hover{
      background-color: #098e31;
    }
  
    /* truncate text */
    .text-truncate {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /*responsive button css for smartphone*/
    @media screen and (max-width:470px) {

      .playlist-action{
        margin-left: auto;
      }
      
    }